export(prob_rank_givenEffect_emp)
export(empOPW)
importFrom(graphics, hist)
import(stats)
import(OPWeight)
importFrom(limma, propTrueNull)
importFrom(qvalue, qvalue)
importFrom(tibble, tibble)
importFrom(MASS, boxcox)
importFrom(BiocGenerics, as.data.frame)

