export(empOPW)
export(fwerPowerFdrPower_emp)
export(nice_plots2)
export(optimal_group)
export(prob_rank_givenEffect_emp)
export(relative_freq)
export(simu_fwer_emp)

importFrom(graphics, hist)
import(ggplot2)
import(OPWeight)
import(OPWpaper)
import(stats)

importFrom(cowplot, get_legend, plot_grid)
importFrom(IHW, ihw)
importFrom(IHW, adj_pvalues)
importFrom(IHW, rejections)
importFrom(limma, propTrueNull)
importFrom(qvalue, qvalue)
importFrom(pweight, bayes_weights)
importFrom(reshape2, melt)
importFrom(tibble, tibble)
importFrom(tibble, add_column)



